@model IEnumerable<test_indentity.ViewModels.UserListVM>

@{
    ViewData["Title"] = "Управление пользователями";
}

<h2 class="text-center">Список пользователей</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<a class="btn btn-primary btn-lg btn-block mb-3" asp-action="CreateUser">Создать пользователя</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Логин</th>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th>Роли</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <span class="badge bg-secondary">@role</span>
                    }
                </td>
                <td>
                    @if (user.IsActive)
                    {
                        <span class="badge bg-success">Активен</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Отключен</span>
                    }
                </td>
                <td>
                    <a class="btn btn-primary btn-sm btn-block" asp-action="Edit" asp-route-id="@user.UserId">Редактировать</a>
                    <form asp-action="ChangeStatus" method="post" style="display:inline;">
                        <input type="hidden" name="userId" value="@user.UserId" />
                        <input type="hidden" name="isActive" value="@(user.IsActive ? "false" : "true")" />
                        <button type="submit" class="btn btn-secondary btn-sm btn-block mt-1">
                            @if (user.IsActive)
                            {
                                <text>Отключить</text>
                            }
                            else
                            {
                                <text>Активировать</text>
                            }</button>
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
